<nav class="nav subnav">
  <div class="nav-left">
    {{#link-to "index" class="nav-item is-tab" activeClass="is-active"}}
      {{fa-icon 'chevron-left'}}
    {{/link-to}}
    {{#link-to "milestone.index" model class="nav-item is-tab" activeClass="is-active"}}
      {{fa-icon 'tachometer'}}<span class="link-text">Details</span>
    {{/link-to}}
    {{#link-to "milestone.embed" model class="nav-item is-tab" activeClass="is-active"}}
      {{fa-icon 'code'}}<span class="link-text">Embed Codes</span>
    {{/link-to}}
    {{#link-to "milestone.message" model class="nav-item is-tab" activeClass="is-active"}}
      {{fa-icon 'image'}}<span class="link-text">Edit Message</span>
    {{/link-to}}
  </div>
</nav>

<section class="main">
  
  {{milestone-title name=model.name}}

  {{outlet}}

</section>